@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(144, 235, 238, 1) 9%, rgba(192, 213, 135, 1) 47%, rgb(132, 248, 186) 81%);
}

header {
    width: 100%;
    background-color: azure;
}

header h3 {
    margin: 0 auto;
    padding: .7rem;
    font-size: 1rem;
    text-align: center;
    color: floralwhite;
    background-color: rgb(37, 37, 37);
}

header section {
    /* width: auto;  */
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;

}

header section nav {
    margin: 1rem;
}

header section nav ul {
    list-style: none;
}

header section nav li {
    list-style: none;
    display: inline;
    padding: 0 1rem 0 1rem;
}

header section nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8rem;
    color: rgb(37, 37, 37);
}

/* header section img {} */