@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DCD9D4;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    background-blend-mode: soft-light,screen;
}

header {
    position: fixed;
    width: 100%;
    background-color: azure;
    filter: drop-shadow(0px 3px 10px #555);
    z-index: 10;
}

header h3 {
    margin: 0 auto;
    padding: .7rem;
    font-size: 1rem;
    text-align: center;
    color: floralwhite;
    background-color: rgb(37, 37, 37);
}

header section {
    /* width: auto;  */
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;

}

header section nav {
    margin: 1rem;
}

header section nav ul {
    list-style: none;
}

header section nav li {
    list-style: none;
    display: inline;
    padding: 0 1rem 0 1rem;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8rem;
    color: rgb(37, 37, 37);
}

a:hover {
    color: springgreen;
    text-decoration: underline;
}

header figure {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

header section figure img {
    height: 30%;
    width: 30%;
    margin-bottom: .5rem;
}

header figcaption {
    width: fit-content;
    margin: 0 auto;
    border-top: solid rgb(37, 37, 37) .1rem ;
    padding: .2rem;
    font-weight: 900;
    font-size: .8rem;
    color: salmon;
    text-align: center;
}

main {
    text-align: center;
}
#hero {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    top: 0px;
    filter: drop-shadow(0px 3px 10px #555);
    z-index: -10;
}

main h2 {
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0 3rem 0;
    font-size: 4em;
}

main section {
    display: block;
    width: 960px;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-collapse: collapse;
    border-top: dashed rgb(37, 37, 37) .1rem;
    padding: 1rem;
    font-size: 1rem;
}

main section h3 {
    text-align: left;
    font-size: 2rem;
}
