@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

html {
    /* background-color: rgb(221, 210, 221); */
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

header {
    margin-bottom: 3rem;
}

h1 {
    text-align: left;
    position: relative;
    font-size: 5rem;
    height: auto;
    padding: 2rem 2rem 2rem 2rem;
    background-color: ghostwhite;
    color: springgreen;
    border-bottom: solid grey .1rem;
}

body {
    text-align: center;
}

table {
    display: static;
    min-width: 30%;
    max-width: 40%;
    margin: 10% auto;
    border: solid gray .1rem;
    padding: 1rem;
    background-color: ghostwhite;
    font-size: .5rem; 
}

th {
    margin: .1rem auto;
    border-collapse: collapse;
    border: solid grey .1rem;
    font-weight: bold;
    color: springgreen;
    font-size: 1rem;
    padding: 1rem;
}

td {
    display: flex-box;
    margin: .1rem auto;
    border-collapse: collapse;
    border: solid grey .1rem;
    padding: 1rem;
    color: black;
    font-size: .6rem;
    text-align: left;
}

article {   
    display: flex;
    flex: 1;
    width: 30%;
    min-width: 30%;
    max-width: 40%;
    height: auto;
    margin: 2rem;
    border: solid grey .1rem;
    border-radius: 2rem;
    padding: 2rem;
    background-color: ghostwhite;
    text-align: left;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-right: .3rem;
    color: springgreen;
    border-right: solid grey .1rem;
    padding: 0rem .3rem .3rem 0rem;
}

ul {
    text-decoration: none;
    color: gray;
}

li {
    list-style: none;
    padding: 0rem 0rem .25rem 0rem;
    font-size: 1rem;
}
